.p6o-aggs {
  width: 340px;
  pointer-events: none !important;
}

.p6o-aggs.fullscreen {
  width: 100%;
  pointer-events: all;
}

.p6o-aggs .p6o-aggs-carousel {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  background-color: var(--p6o-controls-bg-color-hi);
  padding: 6px;
  margin: 0 0 10px 0;
  pointer-events: all;
  border: var(--p6o-controls-border);
  border-radius: 50vh;
  box-shadow: var(--p6o-controls-box-shadow);
}

.p6o-aggs.fullscreen .p6o-aggs-carousel {
  margin-bottom: 20px;
}

.p6o-aggs-carousel h3 {
  padding: 0;
  margin: 0;
  font-size: var(--p6o-font-size);
  text-transform:capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p6o-aggs-carousel button {
  font-size:22px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#5c5c5c;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.p6o-aggs:not(.fullscreen) .p6o-aggs-carousel button:hover {
  background-color: var(--p6o-signature-color);
}

.p6o-aggs:not(.fullscreen) .p6o-aggs-carousel button:hover svg {
  stroke: #fff;
}

.p6o-aggs-values {
  pointer-events: none !important;
}

.p6o-aggs-values ul {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
  pointer-events: none;
}

.p6o-aggs-values li {
  display: block;
  padding-bottom: 2px;
  pointer-events: none;
  cursor: pointer;
}

.p6o-aggs-values .p6o-agg-value-wrapper {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 50vh; 
  background-color: #fff;
  box-shadow: var(--p6o-controls-box-shadow);
  transition:transform 0.15s;
}

.p6o-aggs.fullscreen .p6o-aggs-values .p6o-agg-value-wrapper {
  display: block;
  margin-bottom: 8px;
}

.p6o-aggs:not(.fullscreen) .p6o-aggs-values .p6o-agg-value-wrapper:hover {
  transform:scale(1.05);
}

.p6o-aggs-values .p6o-agg-value-wrapper span {
  display:inline-block;
  padding:8px 12px;
}

.p6o-aggs-values .p6o-agg-value-wrapper span.p6o-agg-value-count {
  width:40px;
  text-align:center;
  color:#fff;
  font-weight:bold;
  border-radius: 50vh;
  border: 1px solid var(--p6o-signature-color);
  background-color: var(--p6o-signature-color);
  z-index: 1;
}

.p6o-aggs.fullscreen .p6o-aggs-values .p6o-agg-value-wrapper span.p6o-agg-value-count {
  display: inline-block;
  padding: 10px 16px;
}

.p6o-aggs-values .p6o-agg-value-wrapper span.p6o-agg-value-label {
  text-transform:capitalize;
  background-color:#fff;
  text-transform: lowercase;
  padding-right: 16px;
}

.p6o-aggs-values .p6o-agg-value-wrapper span.p6o-agg-value-label::first-letter {
  text-transform: uppercase;
}

.p6o-aggs-values .p6o-value-unselected {
  opacity: 0.2;
}

.p6o-aggs-values .p6o-value-unselected:hover {
  opacity: 1;
}