/** https://cssloaders.github.io/ MIT License **/
.loader.three-dots, .loader.three-dots::before, .loader.three-dots::after {
  display:inline-block;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader.three-dots {
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  top: -3em;
  animation-delay: -0.16s;
}

.loader.three-dots::before,
.loader.three-dots::after {
  content: '';
  position: absolute;
  top: 0;
}

.loader.three-dots::before {
  left: -3.3em;
  animation-delay: -0.32s;
}

.loader.three-dots::after {
  left: 3.3em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    