.p6o-zoom-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.p6o-controls-btn {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
  border: var(--p6o-controls-border);
  cursor: pointer;
  background-color: var(--p6o-controls-bg-color);
  box-shadow: var(--p6o-controls-box-shadow);
}

.p6o-controls-btn:hover {
  background-color: var(--p6o-controls-bg-color-hi);
}