@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --p6o-controls-bg-color: #fafafa;
  --p6o-controls-bg-color-hi: #fff; 
  --p6o-controls-border: 1px solid rgba(0,0,0,0.28);
  --p6o-controls-border-radius: 4px;
  --p6o-controls-box-shadow: 0 0 8px rgba(0,0,0,0.35);
  --p6o-font-size: 14px;
  --p6o-signature-color: #9d00d1;
}

html, body, #app, .p6o-map-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.p6o-map-container.hover * {
  cursor:pointer;
}

.p6o-map-tooltip-container {
  position: absolute;
}
