html, body, #app, .p6o-map-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.p6o-map-container.hover * {
  cursor:pointer;
}

.p6o-map-tooltip-container {
  position: absolute;
}
