.p6o-controls-btn.p6o-mobile-menu-btn svg {
  font-size: 18px;
}

.p6o-mobile-menu {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  padding: 0 60px 0 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  transition: left 200ms;
  overflow-y: scroll;
}

.p6o-mobile-menu-enter {
  left: -100%;
}

.p6o-mobile-menu-enter-done {
  left: 0;
}

.p6o-mobile-menu .p6o-mobile-menu-close {
  position: fixed;
  top: 25px;
  right: 10px;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.p6o-mobile-menu .p6o-mobile-menu-close svg {
  font-size: 35px;
  stroke: #fff;
}

.p6o-mobile-menu main {
  padding: 20px 0 20px 10px;
}